# Dependencies
node_modules/
backend/node_modules/

# Environment Variables
.env
backend/.env
*.env.local

# Firebase Credentials
serviceAccountKey.json
backend/serviceAccountKey.json

# Vercel
.vercel/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
.env*
