* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f7f5;
    color: #333;
}


.auth-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* LEFT SIDE */

.auth-info {
    background-color: #2f6b3b;
    color: white;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
}


.brand {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}


.auth-info-content {
    margin: auto 0;
}


.auth-info h1 {
    font-size: 45px;
    margin-bottom: 20px;
}


.auth-info-content > p {
    font-size: 17px;
    line-height: 1.7;
    max-width: 450px;
    color: #e0ebe1;
}


.info-points {
    margin-top: 35px;
}


.info-points p {
    margin-bottom: 15px;
    color: #ffffff;
}


/* RIGHT SIDE */

.auth-form-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}


.auth-form {
    width: 100%;
    max-width: 420px;
}


.auth-form h2 {
    font-size: 30px;
    margin-bottom: 10px;
}


.form-subtitle {
    color: #777;
    margin-bottom: 30px;
}


/* GOOGLE BUTTON */

.google-btn {
    width: 100%;
    padding: 13px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}


.google-btn span {
    font-weight: bold;
    color: #4285F4;
    margin-right: 10px;
}


.google-btn:hover {
    background-color: #f5f5f5;
}


/* DIVIDER */

.divider {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
}


.divider span {
    height: 1px;
    background-color: #dddddd;
    flex: 1;
}


.divider p {
    color: #999;
    font-size: 12px;
}


/* FORM */

form {
    display: flex;
    flex-direction: column;
}


label {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: bold;
}


input {
    padding: 13px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 15px;
}


input:focus {
    outline: none;
    border-color: #2f6b3b;
}


.submit-btn {
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #2f6b3b;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.submit-btn:hover {
    background-color: #24552e;
}


/* SWITCH PAGE */

.switch-page {
    text-align: center;
    margin-top: 25px;
    color: #666;
}


.switch-page a {
    color: #2f6b3b;
    font-weight: bold;
    text-decoration: none;
}


.message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}


/* MOBILE */

@media (max-width: 800px) {

    .auth-page {
        grid-template-columns: 1fr;
    }


    .auth-info {
        display: none;
    }


    .auth-form-section {
        min-height: 100vh;
    }

}